In [20]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [21]:
file = Path("../Resources/clean3data.csv")
df = pd.read_csv(file)
df.head()

,Unnamed: 0,Year,Country Name,International Tourism Expenditures (US$),International Tourism Receipts (US$),# of arrivals,GDP (US$),Total Population
0,652,2019,Albania,1852000000,2458000000,6406000,15401826080,2854191
1,218,2017,Albania,1473000000,2050000000,5118000,13019726211,2873457
2,869,2020,Albania,805000000,1243000000,2658000,15162734205,2837849
3,435,2018,Albania,1750000000,2306000000,5927000,15156424061,2866376
4,1,2016,Albania,1338000000,1821000000,4736000,11861199830,2876101

In [22]:
del df["Unnamed: 0"]
df.head()

,Year,Country Name,International Tourism Expenditures (US$),International Tourism Receipts (US$),# of arrivals,GDP (US$),Total Population
0,2019,Albania,1852000000,2458000000,6406000,15401826080,2854191
1,2017,Albania,1473000000,2050000000,5118000,13019726211,2873457
2,2020,Albania,805000000,1243000000,2658000,15162734205,2837849
3,2018,Albania,1750000000,2306000000,5927000,15156424061,2866376
4,2016,Albania,1338000000,1821000000,4736000,11861199830,2876101

In [23]:
df2 = df[(df["Year"]>= 2019) & (df["Year"] <= 2019)]
df2.head()

,Year,Country Name,International Tourism Expenditures (US$),International Tourism Receipts (US$),# of arrivals,GDP (US$),Total Population
0,2019,Albania,1852000000,2458000000,6406000,15401826080,2854191
7,2019,Algeria,670000000,140000000,2371000,171760290068,42705368
10,2019,Andorra,187000000,1910000000,8235000,3155149347,76343
14,2019,Angola,717000000,395000000,218000,69309110145,32353588
15,2019,Antigua and Barbuda,119000000,992000000,1035000,1675403703,92117

In [26]:
df2.dropna(how='any')
df2.count()

Year                                        124
Country Name                                124
International Tourism Expenditures (US$)    124
International Tourism Receipts (US$)        124
# of arrivals                               124
GDP (US$)                                   124
Total Population                            124
dtype: int64